<div class="col-12 p-0">
    <div class="row mx-0">
        <small>{{ language }}</small><small class="position-absolute" style="top: 4px; right:0px;">{{ percent }}%</small>
    </div>
    <div class="row mx-0">
        <div class="col-12 py-0 px-0">
            <div class="progress">
                <div class="progress-bar" style="width: {{ percent }}%">&nbsp;</div>
            </div>
        </div>
    </div>
</div>