<!DOCTYPE html>
<html>
    <head>
        {% comment %}
        <link rel="stylesheet" href="style.css" type="text/css">
        {% endcomment %}
        <style>
            {{ css }}
        </style>
    </head>
    <body>
        <div id="content">
            <h1>Contributions</h1>
            <b class="left">Total Commits:</b><p class="right">{{ statistics.commits }}</p> <br>
            <b class="left">Total PRs:</b><p class="right">{{ statistics.pulls }}</p> <br>
            <b class="left">Total Issues:</b><p class="right">{{ statistics.issues }}</p> <br>
            <b class="left">Contributed to:</b><p class="right">{{ statistics.contributions }}</p>
        </div>
    </body>
</html>