<!DOCTYPE html>
<html>
    <head>
        {% comment %}
        <link rel="stylesheet" href="style.css" type="text/css">
        {% endcomment %}
        <style>
            {{ css }}
        </style>
    </head>
    <body>
        <div id="content">
            <h1>Languages</h1>
            {% for language in languages %}
                <div style="margin-top: 8px; min-height: 18px;">
                    <small style="float:left;">{{ language.name }}</small>
                    <small style="float:right;">{{ language.percent }}%</small>
                    <br>
                    <div class="progress">
                        <div class="bar" style="width: {{ language.percent }}%">&nbsp;</div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </body>
</html>