<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css" type="text/css">
    </head>
    <body>
        <div id="content">
            <h1>Languages</h1>
            <div style="margin-top: 8px; min-height: 18px;">
                <small style="float:left;">Java</small>
                <small style="float:right;">93.82%</small>
                <div class="progress" style="margin-top: 16px;">
                    <div class="bar" style="width: 50%">&nbsp;</div>
                </div>
            </div>
        </div>
    </body>
</html>